/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea/
echeep.iml
.php_cs.cache
/app/phpunit/coverage.xml
!/web/uploads/media/default/2000/01/01/*
/web/uploads/media/default/*/*/*/*